# Werkzeug keeps breaking Flask!
Werkzeug==2.1.2

# Runtime dependencies
Flask==2.1.2
python-dotenv==0.20.0

# Runtime tools
gunicorn
honcho

flake8
coverage

# Code quality
pylint
black

# Testing dependencies
nose
pinocchio

# Utilities
httpie
